<p id="notice">
  <%= notice %>
</p>

<div class="container px-5 px-sm-0">
  
  <% if @book.errors.any? %>
      <%= @book.errors.count %>errors prohibited this obj from being saved:
        <% @book.errors.full_messages.each do |message| %>
      <%= message %>
      <% end %>
    <% end %>
  <div class="row">
    <div class="col-md-3">
    <%= render 'users/list', user: @user %>
    <%= render 'books/list', book: @book_new %>
  </div>
    <div class="col-md-8 offset-md-1">
      
      <h2>Book detail</h2>

      <table class="table table-hover table-inverse">
        <tbody>
          <td>
            <%= link_to (attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg"), user_path %> <br>
            <%= link_to user_path(@user) do %>
              <%= @user.name %>
            <% end %>
          </td>
      
          <td>
              <%= link_to book_path do %>
                <%= @book.title %>
              <% end %>
          </td>
          <td><%= @book.body %></td>
          <td class="favorite-btn"><%= render "favorites/favorite", book: @book %></td>
          <td>コメント数：<%= @book.book_comments.count %></td>
          <% if @book.user == current_user %>
          <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success"  %></td>
          <td><%= link_to "Destroy", book_path(@book.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger" %></td>
          <% end %>
        </tbody>
       
      <%= render "books/comment", book: @book,book_comment: @book_comment %>
    </div>
  </div>
</div>
